*{
    font-family: $mainFont;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4{
    color: $mainColor;
}
h1{
    font-size: $textXl;
}
h2{
    font-size: $textLg;
}
h3{
    font-size: $textMd;
}
p{
    font-family: $mainFont;
    font-size: $textSm;
    color: $mainColor;
}
