//variables globales
$mainColor:rgb(106, 12, 62);
$secondaryColor:rgb(81, 77, 77);
$keyColor:deeppink;
$white:rgb(238, 235, 235);
$black:rgb(40, 40, 40);

//fonts - texts
$mainFont:'Roboto', sans-serif;

//sizes
$textXl:3em;
$textLg:2em;
$textMd:1.4em;
$textSm:1em;

//flex
$flex: flex;



